
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
body, div {
  margin:0;
}

html, body {
  min-height:480px; /* so we can hide the URL bar , without viewport height=device-height*/
/*  height:100%;*/
/*  width:100%;*/
}


/* Landscape iPhone */
@media screen and (min-width: 321px) and (max-width: 480px) {
  #dygraph {
/*    height:340px;*/
  }
}

#dygraph {
/*  display:none;*/
/*width:320px;*/
  width:100%;
  height:200px;
/*
  width:800px;
  height:400px;
*/
}

/*
.ui-body-a, .ui-dialog.ui-overlay-a {
    background: -moz-linear-gradient(black, green) repeat scroll 0 0 black;
    border: 1px solid #2A2A2A;
    color: #FFFFFF;
    font-weight: normal;
    text-shadow: 0 1px 0 #000000;
}

.ui-btn-up-a {
    background: -moz-linear-gradient(black, blue) repeat scroll 0 0 black;
    border: 1px solid #222222;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000000;
}
*/
#home ul li span.metric {
  width:6em;  
  text-align:right;
  /*  color:white; or green*/
}  
#home ul li span.metric span.units {
  width:3em;
  padding-left:.3em;
  display:inline-block;
  color:gray;
  text-align:left;
}

#home .feedpickerwrapper {
  -webkit-border-top-right-radius: .6em;
  -webkit-border-bottom-right-radius: .6em;
  -moz-border-radius-topright: .6em;
  -moz-border-radius-bottomright: .6em;
  border-top-right-radius: .6em;
  border-bottom-right-radius: .6em;

  position: absolute;
  top:0px;
  left:-180px;
  width: 215px;
  z-index:100;
}
#home .feedpickerwrapper.showing {
  left:0px;
  ZZbackground:red;
}
#home .feedpickershow {
  position:absolute;
  right:-0px;
}
#home .feedpicker {
  margin:20px;
  margin-right:40px;
  margin-left:15px;
}
